<%- include("../partials/header", { title: title }) %>
<div class="page-container">
<h1>New Message</h1>

<%- include("../partials/error") %>

<form action="/messages/new" method="POST">
    <input
        type="text"
        name="title"
        placeholder="Title"
        value="<%= data.title || '' %>"
        required
    >

    <textarea
        name="content"
        placeholder="Message"
        required
    ><%= data.content || '' %></textarea>

    <button type="submit" class="btn">Post</button>
</form>
</div>
<%- include("../partials/footer") %>